Repository getcorgi/corgi: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace client lint --fix, yarn workspace server lint --fix, prettier --write, prettier --write --parser json

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "yarn workspace client lint --fix",
    "yarn workspace server lint --fix",
    "git add"
  ],
  "*.{html,json,md,yml}": ["prettier --write", "git add"],
  "*.*rc": ["prettier --write --parser json", "git add"]
}

chore: update travis scripts
  .travis.yml
  package.json
Due: prettier --write

chore(heroku): clean up and fix deployments
  Procfile
  package.json
  packages/server/yarn.lock
Due: prettier --write

fix(client): fixes #44
  packages/client/src/components/Group/components/ActivityView/components/Video/Video.tsx
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): add ability to pin videos
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/BasicView/components/PinnedVideoLayout/PinnedVideoLayout.styles.tsx
  packages/client/src/components/Group/components/BasicView/components/PinnedVideoLayout/PinnedVideoLayout.tsx
  packages/client/src/components/Group/components/BasicView/components/TiledVideoLayout/TiledVideoLayout.styles.tsx
  packages/client/src/components/Group/components/BasicView/components/TiledVideoLayout/TiledVideoLayout.tsx
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/components/Group/components/VideoContextMenu/VideoContextMenu.tsx
  packages/client/src/components/Group/lib/GroupContext.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

fix(eslint-config): rename to eslint-config-corgi
  .gitignore
  package.json
  packages/client/src/__snapshots__/Storyshots.test.ts.snap
  packages/eslint-config-corgi/index.js
  packages/eslint-config-corgi/package.json
  yarn.lock
Due: prettier --write

feat(client): makes mobile exp slightly better
  packages/client/src/__snapshots__/Storyshots.test.ts.snap
  packages/client/src/components/Group/components/BasicView/BasicView.styles.ts
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/BasicView/components/TiledVideoLayout/TiledVideoLayout.styles.tsx
  packages/client/src/components/Group/components/BasicView/components/TiledVideoLayout/TiledVideoLayout.tsx
  packages/client/src/components/Group/components/BasicView/components/TiledVideoLayout/lib/getVideoDimensions.ts
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/components/MediaSettingsProvider/MediaSettingsProvider.tsx
  packages/server/src/index.ts
  yarn.lock
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): mobile ratios closes #18
  packages/client/src/__snapshots__/Storyshots.test.ts.snap
  packages/client/src/components/Group/components/BasicView/BasicView.styles.ts
  packages/client/src/components/Group/components/BasicView/components/TiledVideoLayout/TiledVideoLayout.styles.tsx
  packages/client/src/components/Group/components/BasicView/components/TiledVideoLayout/lib/getVideoDimensions.ts
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/components/Group/lib/GroupContext.tsx
  packages/client/src/components/Group/lib/useScreenShareSocketHandler/lib/useScreenShareSocketEvents.ts
  packages/client/src/components/Group/lib/useSocketHandler/lib/useSocketEvents.ts
  packages/client/src/components/MediaSettingsProvider/MediaSettingsProvider.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): add notification badge for chat
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/Sidebar/Sidebar.tsx
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/components/Group/components/VideoView/VideoView.tsx
  packages/client/src/components/Group/lib/useSocketHandler/lib/useChatMessages.ts
  packages/client/src/components/Group/lib/useSocketHandler/useSocketHandler.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): add chat sound
  packages/client/public/chatSound.mp3
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/lib/useSocketHandler/lib/useChatMessages.ts
  packages/client/src/components/Group/lib/useSocketHandler/types.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): keep peers synced, maybe
  packages/client/src/components/Group/lib/useSocketHandler/lib/useSocketEvents.ts
  packages/client/src/components/Group/lib/useSocketHandler/lib/useSyncPeers.ts
  packages/client/src/components/Group/lib/useSocketHandler/types.ts
  packages/client/src/components/Group/lib/useSocketHandler/useSocketHandler.ts
  packages/server/src/index.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

fix(client): fix video issue
  packages/client/src/components/Group/components/Video/Video.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): force websocket
  packages/client/src/components/Group/lib/useScreenShareSocketHandler/useScreenShareSocketHandler.ts
  packages/client/src/components/Group/lib/useSocketHandler/useSocketHandler.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): perisist media devices
  packages/client/src/components/Group/components/MediaSettingsPopover/MediaSettingsPopover.tsx
  packages/client/src/components/MediaSettingsProvider/MediaSettingsProvider.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): turn off camera when not in use
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/components/Group/lib/useSocketHandler/lib/useSocketEvents.ts
  packages/client/src/components/Group/lib/useToggleCamera.ts
  packages/client/src/components/MediaSettingsProvider/MediaSettingsProvider.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): add loader to video
  packages/client/src/components/Group/components/Video/Video.styles.ts
  packages/client/src/components/Group/components/Video/Video.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

fix(client): fix issue with mute flicker
  packages/client/src/__snapshots__/Storyshots.test.ts.snap
  packages/client/src/components/Group/components/Video/Video.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): only show loader when loading video
  packages/client/src/__snapshots__/Storyshots.test.ts.snap
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/components/Group/components/Video/Video.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): add chat count, remove chat sound when drawer open
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/Sidebar/Sidebar.tsx
  packages/client/src/components/Group/components/VideoView/VideoView.tsx
  packages/client/src/components/Group/lib/useSocketHandler/lib/useChatMessages.ts
  packages/client/src/components/Group/lib/useSocketHandler/useSocketHandler.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

fix(client): maybe fix bens issues
  packages/client/src/components/MediaSettingsProvider/MediaSettingsProvider.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

fix(client): reduce socket connections
  packages/client/package.json
  packages/client/src/components/Group/lib/useScreenShareSocketHandler/useScreenShareSocketHandler.ts
  packages/client/src/components/Group/lib/useSocketHandler/useSocketHandler.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix, prettier --write

fix(client): fix permission error
  packages/client/src/components/MediaSettingsProvider/MediaSettingsProvider.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

test(activity tabs): add storybook tests
  packages/client/package.json
  packages/client/src/components/Group/components/ActivityTabs/ActivityTabs.stories.tsx
  packages/client/src/components/Group/components/ActivityTabs/ActivityTabs.tsx
  packages/client/src/components/Group/components/ActivityTabs/ActivityTabsContainer.tsx
  packages/client/src/components/Group/components/ActivityTabs/index.ts
  yarn.lock
Due: yarn workspace client lint --fix, yarn workspace server lint --fix, prettier --write

chore(storybook): apply styles properly to stories
  packages/client/.storybook/config.js
  packages/client/.storybook/preview-head.html
Due: prettier --write

test(activity tabs): add tests for display component
  packages/client/src/components/Group/components/ActivityTabs/ActivityTabs.test.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

refactor(activity tabs): clean up container code
  packages/client/src/components/Group/components/ActivityTabs/ActivityTabsContainer.tsx
  packages/client/src/constants.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

chore(storybook): update snapshots
  packages/client/src/__snapshots__/Storyshots.test.ts.snap
Due: none

fix(client): fix issue with user id
  packages/client/src/components/Group/lib/useSocketHandler/lib/useSocketEvents.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

refactor(activity tabs): move builtins into container file
  packages/client/src/components/Group/components/ActivityTabs/ActivityTabsContainer.tsx
  packages/client/src/constants.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

fix(video): resolve compiler warning
  packages/client/src/components/Group/components/Video/Video.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

fix(group-container): closes #60
  packages/client/src/App.tsx
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/index.ts
  packages/client/src/components/Group/index.tsx
  packages/client/src/components/MediaSettingsProvider/MediaSettingsProvider.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

chore(storyshots): goodbye forever
  packages/client/package.json
  packages/client/src/Storyshots.test.ts
  yarn.lock
Due: yarn workspace client lint --fix, yarn workspace server lint --fix, prettier --write

fix(safari issues): fix audio context and resize observer
  packages/client/src/__snapshots__/Storyshots.test.ts.snap
  packages/client/src/components/Group/components/AudioVisualizer/AudioVisualizer.tsx
  packages/client/src/components/Group/components/BasicView/components/TiledVideoLayout/TiledVideoLayout.tsx
  packages/client/src/components/Group/components/Video/Video.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(chat): use textarea instead of input
  packages/client/src/components/Group/components/Chat/Chat.styles.ts
  packages/client/src/components/Group/components/Chat/Chat.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(browse-together): add basic src chooser
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/components/SourceSelect/SourceSelect.stories.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/components/SourceSelect/SourceSelect.styles.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/components/SourceSelect/SourceSelect.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(browse together): add janky collab mode
  packages/client/src/components/Group/components/BrowseTogetherView/components/SourceSelect/SourceSelect.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

refactor(source-select): move presets to structured data
  packages/client/src/__snapshots__/Storyshots.test.ts.snap
  packages/client/src/components/Group/components/BrowseTogetherView/components/SourceSelect/SourceSelect.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(chat): add emoji picker
  packages/client/package.json
  packages/client/src/components/Group/components/Chat/Chat.styles.ts
  packages/client/src/components/Group/components/Chat/Chat.tsx
  packages/client/src/components/Group/components/Chat/components/EmojiPicker/EmojiPicker.styles.ts
  packages/client/src/components/Group/components/Chat/components/EmojiPicker/EmojiPicker.tsx
  yarn.lock
Due: yarn workspace client lint --fix, yarn workspace server lint --fix, prettier --write

feat(chat emoji): improve ux
  packages/client/src/components/Group/components/Chat/Chat.tsx
  packages/client/src/components/Group/components/Chat/components/EmojiPicker/EmojiPicker.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(chat): add quick select emoji
  packages/client/src/components/Group/components/Chat/Chat.tsx
  packages/client/src/components/Group/components/Chat/components/EmojiQuckSelect/EmojiQuickSelect.styles.ts
  packages/client/src/components/Group/components/Chat/components/EmojiQuckSelect/EmojiQuickSelect.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(chat): add enter to emoji quick select
  packages/client/src/components/Group/components/Chat/Chat.tsx
  packages/client/src/components/Group/components/Chat/components/EmojiQuckSelect/EmojiQuickSelect.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix
