Repository getcorgi/corgi: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:client, yarn lint:server, prettier --write, prettier --write --parser json

feat(group-container): add camera selection
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/lib/useLocalMediaStream.ts
Due: yarn lint:client, yarn lint:server

feat(client): style preview
  packages/client/src/components/Group/Group.tsx
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/Preview/Preview.styles.ts
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/components/Group/lib/useLocalMediaStream.ts
  packages/client/src/index.css
Due: yarn lint:client, yarn lint:server

feat(client): create videoview
  packages/client/src/components/Group/BasicView.tsx
  packages/client/src/components/Group/Group.stories.tsx
  packages/client/src/components/Group/Group.styles.tsx
  packages/client/src/components/Group/Group.tsx
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/VideoView.tsx
  packages/client/src/components/Group/components/Preview/Preview.tsx
Due: yarn lint:client, yarn lint:server

chore: upgrade react-scripts to fix node_modules issues
  packages/client/package.json
  packages/client/yarn.lock
  yarn.lock
Due: prettier --write

chore(server): add missing deps
  packages/server/package.json
  packages/server/src/index.ts
  packages/server/yarn.lock
Due: yarn lint:client, yarn lint:server, prettier --write

feat(client): add avatar group
  packages/client/package.json
  packages/client/src/components/Group/components/Preview/Preview.styles.ts
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/components/Group/lib/useSocketHandler.ts
  packages/client/yarn.lock
Due: yarn lint:client, yarn lint:server, prettier --write

feat(client): add some styles to basic view
  packages/client/src/App.tsx
  packages/client/src/components/Group/BasicView.tsx
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/VideoView.tsx
  packages/client/src/components/Group/components/BasicView/BasicView.styles.ts
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/BasicView/index.ts
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/components/Group/components/VideoView/VideoView.styles.ts
  packages/client/src/components/Group/components/VideoView/VideoView.tsx
  packages/client/src/components/Group/components/VideoView/index.ts
  packages/client/src/components/Group/lib/useLocalMediaStream.ts
  packages/client/src/components/Group/lib/useSocketHandler.ts
  packages/client/src/components/Groups/Groups.tsx
Due: yarn lint:client, yarn lint:server

fix(client): disconnect and close stream on unmount
  packages/client/src/components/Group/lib/useLocalMediaStream.ts
  packages/client/src/components/Group/lib/useSocketHandler.ts
Due: yarn lint:client, yarn lint:server

feat(activities): add activities tray skeleton
  packages/client/src/App.tsx
  packages/client/src/components/Firebase/Firebase.test.tsx
  packages/client/src/components/Firebase/Firebase.tsx
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/Activities/Activities.tsx
  packages/client/src/components/Group/components/Activities/index.ts
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.styles.ts
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/index.ts
  packages/client/src/components/Group/components/Preview/Preview.styles.ts
  packages/client/src/components/Group/components/VideoView/VideoView.styles.ts
  packages/client/src/components/Group/components/VideoView/VideoView.tsx
  packages/client/src/components/Group/lib/useLocalMediaStream.ts
  packages/client/src/components/Group/lib/useMute.ts
  packages/client/src/components/Group/lib/useSocketHandler.ts
  packages/client/src/components/Group/lib/useToggleCamera.ts
  packages/client/src/index.tsx
  yarn.lock
Due: yarn lint:client, yarn lint:server

feat(client): style controls
  packages/client/src/App.tsx
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/components/Group/components/VideoView/VideoView.styles.ts
  packages/client/src/components/Group/components/VideoView/VideoView.tsx
  packages/client/src/components/Group/lib/useLocalMediaStream.ts
  packages/client/src/components/Group/lib/useMute.ts
  packages/client/src/components/Group/lib/useToggleCamera.ts
Due: yarn lint:client, yarn lint:server

fix(linting): fix all lint warnings and effects issues
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/Activities/Activities.tsx
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/components/Group/components/VideoView/VideoView.tsx
  packages/client/src/components/Group/lib/useLocalMediaStream.ts
Due: yarn lint:client, yarn lint:server

fix(stream): fix issue with setting local stream
  packages/client/src/components/Group/lib/useLocalMediaStream.ts
Due: yarn lint:client, yarn lint:server

fix(linting): lint both packages and fix scripts
  packages/client/.lintstagedrc.json
  packages/client/src/components/Group/components/Activities/Activities.tsx
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/components/Group/lib/useLocalMediaStream.ts
  packages/server/.lintstagedrc.json
  packages/server/src/index.ts
Due: yarn lint:client, yarn lint:server, prettier --write

fix(linting): fix lintstaged to work properly for packages
  .huskyrc
  .lintstagedrc.json
  package.json
  packages/client/package.json
  packages/server/package.json
  packages/server/yarn.lock
  yarn.lock
Due: prettier --write, prettier --write --parser json

feat(client): style basic video
  packages/client/src/components/Group/components/BasicView/BasicView.styles.ts
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/components/Group/lib/useSocketHandler.ts
Due: yarn lint:client, yarn lint:server

chore(client): fix lint errors
  packages/client/src/components/Firebase/Firebase.test.tsx
  packages/client/src/components/Firebase/Firebase.tsx
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/Preview/Preview.styles.ts
  packages/client/src/components/Group/lib/useMute.ts
  packages/client/src/components/Group/lib/useToggleCamera.ts
  packages/client/src/index.tsx
Due: yarn lint:client, yarn lint:server

feat(activities): hook up activity state to firebase
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/lib/hooks/useGroup.ts
  packages/client/src/lib/hooks/useUpdateGroup.ts
  packages/client/src/lib/hooks/useUpdateGroups.ts
Due: yarn lint:client, yarn lint:server

feat(browsetogether): hook up BrowseTogetherView
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/lib/hooks/useGroup.ts
  packages/client/src/lib/hooks/useUpdateGroup.ts
Due: yarn lint:client, yarn lint:server

test: fix tests to work
  packages/client/src/__snapshots__/Storyshots.test.ts.snap
  packages/client/src/components/Group/GroupContainer.test.tsx
Due: yarn lint:client, yarn lint:server

feat(storybook): add knobs
  packages/client/.storybook/addons.js
  packages/client/.storybook/config.js
  packages/client/package.json
  packages/client/src/App.tsx
  packages/client/src/components/Firebase/Firebase.test.tsx
  packages/client/src/components/Firebase/Firebase.tsx
  packages/client/src/components/Group/components/BasicView/BasicView.stories.tsx
  packages/client/src/index.tsx
  packages/client/yarn.lock
Due: yarn lint:client, yarn lint:server, prettier --write

feat(client): update video tiling
  packages/client/src/components/Group/components/BasicView/BasicView.stories.tsx
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/components/Group/components/Video/Video.tsx
Due: yarn lint:client, yarn lint:server

fix(server): ensure we emit to a specific room
  packages/server/src/index.ts
Due: yarn lint:client, yarn lint:server

chore: upgrade yarn.lock
  yarn.lock
Due: none

fix(server): use roomId instead of room
  packages/server/src/index.ts
Due: yarn lint:client, yarn lint:server

refactor(client): move media settings to provider
  packages/client/src/App.tsx
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/MediaSettingsPopover/MediaSettingsPopover.styles.tsx
  packages/client/src/components/Group/components/MediaSettingsPopover/MediaSettingsPopover.tsx
  packages/client/src/components/Group/components/MediaSettingsPopover/index.ts
  packages/client/src/components/Group/components/Preview/Preview.styles.ts
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/components/Group/lib/useLocalMediaStream.ts
  packages/client/src/components/MediaSettingsProvider/MediaSettingsProvider.tsx
  packages/client/src/components/MediaSettingsProvider/index.ts
Due: yarn lint:client, yarn lint:server

feat(client): update some colors
  packages/client/src/App.tsx
  packages/client/src/components/Group/components/Activities/Activities.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.styles.ts
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/constants.ts
Due: yarn lint:client, yarn lint:server

fix(client): fix issue with controls obscuring content
  packages/client/public/index.html
  packages/client/src/components/Group/components/VideoView/VideoView.styles.ts
  packages/client/src/components/Group/components/VideoView/VideoView.tsx
Due: yarn lint:client, yarn lint:server, prettier --write

feat(client): create homepage
  packages/client/src/App.tsx
  packages/client/src/components/Firebase/Firebase.test.tsx
  packages/client/src/components/Firebase/Firebase.tsx
  packages/client/src/components/Groups/Groups.stories.tsx
  packages/client/src/components/Groups/Groups.styles.tsx
  packages/client/src/components/Groups/Groups.tsx
  packages/client/src/components/Groups/GroupsContainer.test.tsx
  packages/client/src/components/Groups/GroupsContainer.tsx
  packages/client/src/components/Groups/index.ts
  packages/client/src/components/Home/Home.styles.tsx
  packages/client/src/components/Home/Home.tsx
  packages/client/src/components/Home/HomeContainer.tsx
  packages/client/src/components/Home/index.ts
  packages/client/src/components/Tile/Tile.stories.tsx
  packages/client/src/components/Tile/Tile.styles.tsx
  packages/client/src/components/Tile/Tile.tsx
  packages/client/src/components/Tile/index.ts
  packages/client/src/index.tsx
Due: yarn lint:client, yarn lint:server

feat(client): update background colors
  packages/client/src/App.tsx
  packages/client/src/components/Group/components/BasicView/BasicView.styles.ts
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.styles.ts
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/constants.ts
Due: yarn lint:client, yarn lint:server

feat(client): more style adjustments
  packages/client/src/App.css
  packages/client/src/App.test.tsx
  packages/client/src/App.tsx
  packages/client/src/assets/inspiration-geometry.png
  packages/client/src/components/Firebase/Firebase.test.tsx
  packages/client/src/components/Firebase/Firebase.tsx
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/components/Group/lib/useLocalMediaStream.ts
  packages/client/src/components/Home/Home.styles.tsx
  packages/client/src/components/Home/Home.tsx
  packages/client/src/index.tsx
Due: yarn lint:client, yarn lint:server

feat(client): gets mute indicator sorta working
  packages/client/src/components/Group/components/BasicView/BasicView.styles.ts
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.styles.ts
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/components/Group/components/Preview/Preview.styles.ts
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/components/Group/components/Video/Video.styles.ts
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/components/Group/lib/useMute.ts
  packages/client/src/components/Group/lib/useToggleCamera.ts
Due: yarn lint:client, yarn lint:server

feat(sockets): fix issue with user presence
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/lib/useSocketHandler.ts
  packages/server/src/index.ts
Due: yarn lint:client, yarn lint:server

fix(mediasettingsprovider): enable using app without camera
  packages/client/src/components/Firebase/Firebase.test.tsx
  packages/client/src/components/Firebase/Firebase.tsx
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/components/Group/components/MediaSettingsPopover/MediaSettingsPopover.tsx
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/components/Group/lib/useLocalMediaStream.ts
  packages/client/src/components/Group/lib/useMute.ts
  packages/client/src/components/Group/lib/useSocketHandler.ts
  packages/client/src/components/Group/lib/useToggleCamera.ts
  packages/client/src/components/MediaSettingsProvider/MediaSettingsProvider.tsx
  packages/client/src/index.tsx
Due: yarn lint:client, yarn lint:server

fix: remove incorect short circuit in socket handler
  packages/client/src/components/Group/lib/useLocalMediaStream.ts
  packages/client/src/components/Group/lib/useSocketHandler.ts
  packages/client/src/components/MediaSettingsProvider/MediaSettingsProvider.tsx
Due: yarn lint:client, yarn lint:server

fix(usesockethandler): fix issue with switching devices
  packages/client/src/components/Group/lib/useLocalMediaStream.ts
  packages/client/src/components/Group/lib/useSocketHandler.ts
  packages/client/src/components/MediaSettingsProvider/MediaSettingsProvider.tsx
Due: yarn lint:client, yarn lint:server

feat(client): update primary color
  packages/client/src/App.tsx
  packages/client/src/components/Group/components/BasicView/BasicView.styles.ts
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/Video/Video.styles.ts
  packages/client/src/components/Group/components/Video/Video.tsx
Due: yarn lint:client, yarn lint:server

feat(client): add audio visualizer
  packages/client/src/components/Group/components/AudioVisualizer/AudioVisualizer.styles.ts
  packages/client/src/components/Group/components/AudioVisualizer/AudioVisualizer.tsx
  packages/client/src/components/Group/components/AudioVisualizer/index.ts
  packages/client/src/components/Group/components/Video/Video.styles.ts
  packages/client/src/components/Group/components/Video/Video.tsx
Due: yarn lint:client, yarn lint:server

feat(client): add user persistence
  packages/client/src/App.tsx
  packages/client/src/components/Firebase/Firebase.test.tsx
  packages/client/src/components/Firebase/Firebase.tsx
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/Video/Video.styles.ts
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/components/MeProvider/MeProvider.tsx
  packages/client/src/components/MeProvider/index.ts
  packages/client/src/index.tsx
  packages/client/src/lib/hooks/useCurrentUser.ts
  packages/client/src/lib/hooks/useUser.ts
Due: yarn lint:client, yarn lint:server

fix(client): cleanup raf in audio viz
  packages/client/src/components/Group/components/AudioVisualizer/AudioVisualizer.tsx
Due: yarn lint:client, yarn lint:server

feat(client): add join and leave bloops
  packages/client/package.json
  packages/client/public/joinBloop.mp3
  packages/client/public/leaveBloop.mp3
  packages/client/src/components/Group/lib/useSocketHandler.ts
  packages/client/yarn.lock
Due: yarn lint:client, yarn lint:server, prettier --write

Path conditions:
  yarn lint:client: any of: *.{ts,tsx}
  yarn lint:server: any of: *.{ts,tsx}
  prettier --write: any of: *.{html,json,md,yml}
  prettier --write --parser json: any of: *.*rc
