Repository getcorgi/corgi: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace client lint --fix, yarn workspace server lint --fix, prettier --write, prettier --write --parser json

feat(chat): add arrow keys to quick select
  packages/client/src/components/Group/components/Chat/components/EmojiQuckSelect/EmojiQuickSelect.styles.ts
  packages/client/src/components/Group/components/Chat/components/EmojiQuckSelect/EmojiQuickSelect.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

chore(emoji quick select): remove logs
  packages/client/src/components/Group/components/Chat/components/EmojiQuckSelect/EmojiQuickSelect.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

bugfix(client): fix sound not working when video off
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/components/Group/lib/useToggleCamera.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

chore(client): remove log
  packages/client/src/components/Group/lib/useToggleCamera.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): persist mute setting
  packages/client/src/components/Group/lib/useLocalMediaStream.ts
  packages/client/src/components/Group/lib/useMute.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

fix(client): fix issue with setting camera
  packages/client/src/components/Group/lib/useToggleCamera.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): use contain for screen share
  packages/client/src/components/Group/components/Video/Video.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): enlarge emojis
  packages/client/package.json
  packages/client/src/components/Group/components/Chat/Chat.styles.ts
  packages/client/src/components/Group/components/Chat/Chat.tsx
  yarn.lock
Due: yarn workspace client lint --fix, yarn workspace server lint --fix, prettier --write

feat(client): add reaction overlay
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/BasicView/BasicView.stories.tsx
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/BasicView/components/TiledVideoLayout/TiledVideoLayout.tsx
  packages/client/src/components/Group/components/BasicView/lib/useReactions.ts
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/components/Group/components/Video/components/VideoOverlay/VideoOverlay.tsx
  packages/client/src/components/Group/components/VideoView/VideoView.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): add reaction animation
  packages/client/src/components/Group/components/Video/components/VideoOverlay/VideoOverlay.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

fix(client): reaction fix
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/BasicView/components/PinnedVideoLayout/PinnedVideoLayout.tsx
  packages/client/src/components/Group/components/BasicView/components/TiledVideoLayout/TiledVideoLayout.tsx
  packages/client/src/components/Group/components/BasicView/lib/useReactions.ts
  packages/client/src/components/Group/components/Chat/Chat.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): allow jpeg
  packages/client/src/components/Group/components/Chat/Chat.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

fix(client): user id
  packages/client/src/components/Group/components/BasicView/components/PinnedVideoLayout/PinnedVideoLayout.tsx
  packages/client/src/components/Group/components/BasicView/components/TiledVideoLayout/TiledVideoLayout.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): add art to homepage
  packages/client/public/backgrounds/chris-barbalis-bmfulu-3Ano-unsplash.jpg
  packages/client/public/backgrounds/daniel-clay-enbQhSLA4FY-unsplash.jpg
  packages/client/public/backgrounds/ioana-cristiana-J2SS313SbMk-unsplash.jpg
  packages/client/public/backgrounds/jakob-owens-BqSACXqDbBU-unsplash.jpg
  packages/client/public/backgrounds/jane-duursma-CWEuo_qZsrI-unsplash.jpg
  packages/client/public/backgrounds/jean-philippe-delberghe-vlQnJZ5rOwY-unsplash.jpg
  packages/client/public/backgrounds/martin-courreges-_nrUXnPNNeg-unsplash.jpg
  packages/client/public/backgrounds/mec-rawlings-yDs3UCbhTX4-unsplash.jpg
  packages/client/public/index.html
  packages/client/src/components/Button/Button.tsx
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/components/Header/Header.styles.ts
  packages/client/src/components/Header/Header.tsx
  packages/client/src/components/Home/Home.styles.tsx
  packages/client/src/components/Home/Home.tsx
  packages/client/src/components/Home/lib/useBackgroundArt.ts
  packages/client/src/index.css
  packages/client/src/lib/theme.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix, prettier --write

feat(home): add citation
  packages/client/src/components/Header/Header.styles.ts
  packages/client/src/components/Home/Home.styles.tsx
  packages/client/src/components/Home/Home.tsx
  packages/client/src/components/Home/lib/useBackgroundArt.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): embellish homepage
  packages/client/src/components/Group/components/BasicView/BasicView.styles.ts
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/Preview/Preview.styles.ts
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/components/Header/Header.styles.ts
  packages/client/src/components/Header/Header.tsx
  packages/client/src/components/Home/Home.styles.tsx
  packages/client/src/components/Home/Home.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(Preview): add logo
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/components/Header/Header.styles.ts
  packages/client/src/components/Home/Home.styles.tsx
  packages/client/src/components/Home/Home.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(chromecast): add chromecast support (wip)
  packages/client/package.json
  packages/client/src/App.tsx
  packages/client/src/components/ChromeCastProvider/ChromeCastProvider.tsx
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/components/Group/components/VideoContextMenu/VideoContextMenu.tsx
  yarn.lock
Due: yarn workspace client lint --fix, yarn workspace server lint --fix, prettier --write

fix(client): fix mobile styles
  packages/client/src/components/Home/Home.styles.tsx
  packages/client/src/components/Home/Home.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): add self reactions and limit
  packages/client/src/components/Group/components/BasicView/components/PinnedVideoLayout/PinnedVideoLayout.tsx
  packages/client/src/components/Group/components/BasicView/components/TiledVideoLayout/TiledVideoLayout.tsx
  packages/client/src/components/Group/components/BasicView/lib/useReactions.ts
  packages/client/src/components/Group/components/Chat/components/EmojiQuckSelect/EmojiQuickSelect.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): add admin crown
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/Video/Video.styles.ts
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/components/Group/lib/GroupContext.tsx
  packages/client/src/components/Icons/Crown.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): add admin crown
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/Video/Video.styles.ts
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/components/Group/lib/GroupContext.tsx
  packages/client/src/components/Home/Home.styles.tsx
  packages/client/src/components/Icons/Crown.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): add reactions to browse together view
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/components/Group/components/Chat/Chat.tsx
  packages/client/src/components/Group/components/Video/Video.styles.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(hotkeys): add hot keys for disabling video and muting
  packages/client/package.json
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Hotkeys/Hotkeys.tsx
  packages/client/src/components/Hotkeys/index.ts
  packages/server/package.json
  yarn.lock
Due: yarn workspace client lint --fix, yarn workspace server lint --fix, prettier --write

feat(client): add brave verification
  packages/client/public/.well-known/brave-rewards-verification.txt
Due: none

feat(hotkeys): add tooltips
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/components/Group/components/VideoControls/VideoControls.tsx
  packages/client/src/components/Hotkeys/Hotkeys.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

refactor(group context): use recoil
  packages/client/package.json
  packages/client/src/App.tsx
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/components/Group/components/VideoContextMenu/VideoContextMenu.tsx
  packages/client/src/components/Group/lib/GroupContext.tsx
  packages/client/src/components/Group/lib/GroupState.tsx
  yarn.lock
Due: yarn workspace client lint --fix, yarn workspace server lint --fix, prettier --write

refactor(MeProvider): remove provider, use recoil for user
  .vscode/settings.json
  packages/client/package.json
  packages/client/src/App.tsx
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/BasicView/components/PinnedVideoLayout/PinnedVideoLayout.tsx
  packages/client/src/components/Group/components/BasicView/components/TiledVideoLayout/TiledVideoLayout.tsx
  packages/client/src/components/Group/components/BasicView/lib/useReactions.ts
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/components/Group/lib/useSocketHandler/lib/useChatMessages.ts
  packages/client/src/components/Hotkeys/Hotkeys.tsx
  packages/client/src/components/MeProvider/MeProvider.tsx
  packages/client/src/components/MeProvider/index.ts
  packages/client/src/lib/hooks/useUser.ts
  yarn.lock
Due: yarn workspace client lint --fix, yarn workspace server lint --fix, prettier --write

chore(remove commitlint): good riddance
  .commitlintrc.json
  .huskyrc
  .travis.yml
  package.json
  yarn.lock
Due: prettier --write, prettier --write --parser json

feat(Video): style adjustments
  packages/client/package.json
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/BasicView/components/PinnedVideoLayout/PinnedVideoLayout.tsx
  packages/client/src/components/Group/components/BasicView/components/TiledVideoLayout/TiledVideoLayout.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/components/Group/components/Chat/Chat.styles.ts
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/components/Group/components/Sidebar/Sidebar.styles.ts
  packages/client/src/components/Group/components/Sidebar/Sidebar.tsx
  packages/client/src/components/Group/components/Video/Video.styles.ts
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/components/Group/components/VideoControls/VideoControls.tsx
  packages/client/src/components/Group/components/VideoView/VideoView.tsx
  yarn.lock
Due: yarn workspace client lint --fix, yarn workspace server lint --fix, prettier --write

feat(Sidebar): add overflow for settings, move screenshare
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/MediaSettingsModal/MediaSettingsModal.styles.tsx
  packages/client/src/components/Group/components/MediaSettingsModal/MediaSettingsModal.tsx
  packages/client/src/components/Group/components/MediaSettingsModal/index.ts
  packages/client/src/components/Group/components/MediaSettingsPopover/index.ts
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/components/Group/components/Sidebar/Sidebar.tsx
  packages/client/src/components/Group/components/Sidebar/components/OverflowMenu/OverflowMenu.styles.ts
  packages/client/src/components/Group/components/Sidebar/components/OverflowMenu/OverflowMenu.tsx
  packages/client/src/components/Group/components/Sidebar/components/OverflowMenu/index.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): add feedback
  packages/client/src/components/Group/components/Sidebar/components/OverflowMenu/OverflowMenu.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): refactor activities
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/Activities/SharedIframe/SharedIframe.tsx
  packages/client/src/components/Group/components/Activities/SharedIframe/index.ts
  packages/client/src/components/Group/components/Activities/lib/useActivities.ts
  packages/client/src/components/Group/components/BasicView/BasicView.stories.tsx
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/BasicView/components/PinnedVideoLayout/PinnedVideoLayout.tsx
  packages/client/src/components/Group/components/BasicView/components/TiledVideoLayout/TiledVideoLayout.tsx
  packages/client/src/components/Group/components/Sidebar/Sidebar.tsx
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/components/Group/lib/GroupState.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): add feedback
  packages/client/src/components/Group/components/Sidebar/Sidebar.tsx
  packages/client/src/components/Group/components/Sidebar/components/OverflowMenu/OverflowMenu.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): stabalize iframe activity
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/Activities/SharedIframe/SharedIframe.tsx
  packages/client/src/components/Group/components/Activities/lib/useActivities.ts
  packages/client/src/components/Group/components/Sidebar/Sidebar.tsx
  packages/client/src/components/Group/components/VideoView/VideoView.tsx
  packages/client/src/lib/hooks/useGroup.ts
  packages/client/src/lib/hooks/useUpdateGroup.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

refactor(client): auto pin single activity
  packages/client/src/components/Group/components/Activities/SharedIframe/SharedIframe.tsx
  packages/client/src/components/Group/components/Activities/lib/useActivities.ts
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/BasicView/components/PinnedVideoLayout/PinnedVideoLayout.tsx
  packages/client/src/components/Group/components/BasicView/components/TiledVideoLayout/TiledVideoLayout.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/components/SourceSelect/SourceSelect.styles.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/components/SourceSelect/SourceSelect.tsx
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/components/Group/components/Sidebar/Sidebar.tsx
  packages/client/src/components/Group/components/Video/Video.styles.ts
  packages/client/src/components/Group/components/VideoView/VideoView.styles.ts
  packages/client/src/lib/theme.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

chore(client): clean up lint issues
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/Activities/lib/useActivities.ts
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/BasicView/components/PinnedVideoLayout/PinnedVideoLayout.tsx
  packages/client/src/components/Group/components/BasicView/components/TiledVideoLayout/TiledVideoLayout.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/components/SourceSelect/SourceSelect.styles.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/components/SourceSelect/SourceSelect.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

refactor(client): move some files around
  packages/client/src/components/Group/components/Activities/SharedIframe/SharedIframe.tsx
  packages/client/src/components/Group/components/Activities/SharedIframe/components/SourceSelect/SourceSelect.stories.tsx
  packages/client/src/components/Group/components/Activities/SharedIframe/components/SourceSelect/SourceSelect.styles.tsx
  packages/client/src/components/Group/components/Activities/SharedIframe/components/SourceSelect/SourceSelect.tsx
  packages/client/src/components/Group/components/ActivityTabs/ActivityTabs.stories.tsx
  packages/client/src/components/Group/components/ActivityTabs/ActivityTabs.test.tsx
  packages/client/src/components/Group/components/ActivityTabs/ActivityTabs.tsx
  packages/client/src/components/Group/components/ActivityTabs/ActivityTabsContainer.tsx
  packages/client/src/components/Group/components/ActivityTabs/index.ts
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.styles.ts
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/index.ts
  packages/client/src/components/Group/components/Sidebar/Sidebar.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): add close to iframe for admins
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/Activities/SharedIframe/components/SourceSelect/SourceSelect.styles.tsx
  packages/client/src/components/Group/components/Activities/SharedIframe/components/SourceSelect/SourceSelect.tsx
  packages/client/src/components/Group/lib/useIsAdmin/index.ts
  packages/client/src/components/Group/lib/useIsAdmin/useIsAdmin.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): add refresh button
  packages/client/src/components/Group/components/Activities/SharedIframe/SharedIframe.tsx
  packages/client/src/components/Group/components/Activities/SharedIframe/components/SourceSelect/SourceSelect.stories.tsx
  packages/client/src/components/Group/components/Activities/SharedIframe/components/SourceSelect/SourceSelect.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

Path conditions:
  yarn workspace client lint --fix: any of: *.{ts,tsx}
  yarn workspace server lint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{html,json,md,yml}
  prettier --write --parser json: any of: *.*rc
