Repository getcorgi/corgi: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:client, yarn lint:server, prettier --write, prettier --write --parser json

feat(client): screenshare sorta works
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/VideoView/VideoView.tsx
  packages/client/src/components/Group/lib/useLocalMediaStream.ts
  packages/client/src/components/Group/lib/useScreenShare.ts
  packages/client/src/components/Group/lib/useSocketHandler.ts
Due: yarn lint:client, yarn lint:server

refactor(client): worked connections
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/lib/useSocketHandler.ts
  packages/server/src/index.ts
Due: yarn lint:client, yarn lint:server

chore(client): fix merge
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/lib/useSocketHandler.ts
  packages/server/src/index.ts
Due: yarn lint:client, yarn lint:server

feat(client): make mute work with sockets
  packages/client/src/components/Group/lib/useSocketHandler.ts
  packages/server/src/index.ts
Due: yarn lint:client, yarn lint:server

feat(client): fix screen share issue
  packages/client/src/components/Group/lib/useScreenShare.ts
  packages/client/src/components/Group/lib/useSocketHandler.ts
Due: yarn lint:client, yarn lint:server

chore: update yarn.lock
  yarn.lock
Due: none

feat(client): add group admin
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/VideoView/VideoView.tsx
  packages/client/src/lib/hooks/useGroup.ts
Due: yarn lint:client, yarn lint:server

feat(client): add idle timer
  packages/client/src/components/Group/components/VideoView/VideoView.styles.ts
  packages/client/src/components/Group/components/VideoView/VideoView.tsx
  packages/client/src/lib/hooks/useIdleTImer.ts
Due: yarn lint:client, yarn lint:server

feat(client): adjust some styles
  packages/client/public/inspiration-geometry.png
  packages/client/src/components/Group/components/BasicView/BasicView.styles.ts
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/VideoView/VideoView.styles.ts
  packages/client/src/components/Group/components/VideoView/VideoView.tsx
  packages/client/src/components/Group/lib/useSocketHandler.ts
Due: yarn lint:client, yarn lint:server

refactor(client): move controls out
  packages/client/src/components/Group/components/VideoControls/VideoControls.styles.ts
  packages/client/src/components/Group/components/VideoControls/VideoControls.tsx
  packages/client/src/components/Group/components/VideoControls/index.ts
  packages/client/src/components/Group/components/VideoView/VideoView.tsx
Due: yarn lint:client, yarn lint:server

feat(activities): hook up loading a component tree from activities
  packages/client/src/components/Firebase/Firebase.test.tsx
  packages/client/src/components/Firebase/Firebase.tsx
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/Activities/Activities.tsx
  packages/client/src/components/Group/components/ActivityView/ActivityView.tsx
  packages/client/src/components/Group/components/ActivityView/components/Video/Video.tsx
  packages/client/src/components/Group/components/ActivityView/components/Video/index.ts
  packages/client/src/components/Group/components/ActivityView/components/index.ts
  packages/client/src/components/Group/components/ActivityView/index.ts
  packages/client/src/components/Group/components/ActivityView/lib/parseComponentTree.ts
  packages/client/src/index.tsx
  packages/client/src/lib/hooks/useActivities.ts
  packages/client/src/lib/hooks/useActivity.ts
Due: yarn lint:client, yarn lint:server

feat(activities): add view levels based off node env
  packages/client/src/lib/hooks/useActivities.ts
Due: yarn lint:client, yarn lint:server

refactor(activityview): change componentTree to be an array
  packages/client/src/components/Group/components/ActivityView/ActivityView.tsx
Due: yarn lint:client, yarn lint:server

fix(client): fix pattern overlay
  packages/client/src/components/Group/components/VideoView/VideoView.styles.ts
Due: yarn lint:client, yarn lint:server

feat(client): add copy to link
  packages/client/src/components/Group/components/BasicView/BasicView.styles.ts
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
Due: yarn lint:client, yarn lint:server

feat(client): dynamic title and sidebar fix
  packages/client/package.json
  packages/client/src/App.tsx
  packages/client/src/components/Firebase/Firebase.test.tsx
  packages/client/src/components/Firebase/Firebase.tsx
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.styles.ts
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/index.tsx
  packages/client/yarn.lock
Due: yarn lint:client, yarn lint:server, prettier --write

feat(client): use editors for admin
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/lib/hooks/useGroup.ts
Due: yarn lint:client, yarn lint:server

feat(client): add sentry monitoring
  packages/client/package.json
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/constants.ts
  packages/client/src/index.tsx
  packages/client/yarn.lock
Due: yarn lint:client, yarn lint:server, prettier --write

feat(client): add resizable sidebar
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.styles.ts
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/lib/hooks/useResizableContainer.ts
Due: yarn lint:client, yarn lint:server

feat(client): add avatar to off cameras
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.styles.ts
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/components/Group/components/Preview/Preview.styles.ts
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/components/Group/components/Video/Video.styles.ts
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/components/Group/lib/useSocketHandler.ts
Due: yarn lint:client, yarn lint:server

fix(client): fix issue with video
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/components/Group/lib/useSocketHandler.ts
Due: yarn lint:client, yarn lint:server

fix(client): peer send fix, maybe
  packages/client/src/components/Group/lib/useSocketHandler.ts
  packages/client/src/lib/hooks/useResizableContainer.ts
Due: yarn lint:client, yarn lint:server

fix(client): fix sentry errors
  packages/client/src/components/Group/lib/useSocketHandler.ts
  packages/client/src/lib/hooks/useUser.ts
Due: yarn lint:client, yarn lint:server

fix(lint): update import sort
  packages/client/src/components/Firebase/Firebase.test.tsx
  packages/client/src/components/Firebase/Firebase.tsx
  packages/client/src/index.tsx
Due: yarn lint:client, yarn lint:server

fix(styles): prevent overflow on root
  packages/client/src/index.css
Due: none

fix(mute): use write instead of send
  packages/client/src/components/Group/lib/useSocketHandler.ts
Due: yarn lint:client, yarn lint:server

fix(mute): fix check for write
  packages/client/src/components/Group/lib/useSocketHandler.ts
Due: yarn lint:client, yarn lint:server

feat(client): fix tiling
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
Due: yarn lint:client, yarn lint:server

feat(client): add color to user
  packages/client/public/index.html
  packages/client/src/App.tsx
  packages/client/src/components/Firebase/Firebase.test.tsx
  packages/client/src/components/Firebase/Firebase.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.styles.ts
  packages/client/src/components/Home/Home.styles.tsx
  packages/client/src/constants.ts
  packages/client/src/index.tsx
  packages/client/src/lib/hooks/useUser.ts
  packages/client/src/lib/theme.ts
Due: yarn lint:client, yarn lint:server, prettier --write

feat(mediaconstraints): turn on echo cancellation
  packages/client/src/components/MediaSettingsProvider/MediaSettingsProvider.tsx
Due: yarn lint:client, yarn lint:server

feat(mediaconstraints): turn on noise supression
  packages/client/src/components/MediaSettingsProvider/MediaSettingsProvider.tsx
Due: yarn lint:client, yarn lint:server

feat(client): fix stream count, and user preview
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/components/Group/lib/useSocketHandler.ts
  packages/client/src/components/MeProvider/MeProvider.tsx
  packages/client/src/lib/theme.ts
  packages/server/src/index.ts
Due: yarn lint:client, yarn lint:server

refactor(draggablesplitwrapper): create component wrapper
  packages/client/package.json
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/components/Group/components/DraggableSplitWrapper/DraggableSplitWrapper.stories.tsx
  packages/client/src/components/Group/components/DraggableSplitWrapper/DraggableSplitWrapper.styles.ts
  packages/client/src/components/Group/components/DraggableSplitWrapper/DraggableSplitWrapper.tsx
  packages/client/src/components/Group/components/DraggableSplitWrapper/index.ts
  packages/client/src/components/Group/components/Video/Video.styles.ts
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/lib/hooks/useResizableContainer.ts
  packages/client/yarn.lock
Due: yarn lint:client, yarn lint:server, prettier --write

fix(draggablesplitwrapper): add color to story
  packages/client/src/components/Group/components/DraggableSplitWrapper/DraggableSplitWrapper.stories.tsx
Due: yarn lint:client, yarn lint:server

feat(draggablesplitwrapper): change min and max widths to be percentages
  packages/client/src/components/Group/components/DraggableSplitWrapper/DraggableSplitWrapper.tsx
Due: yarn lint:client, yarn lint:server

chore: relint and update yarn.lock
  packages/client/src/components/Firebase/Firebase.test.tsx
  packages/client/src/components/Firebase/Firebase.tsx
  packages/client/src/index.tsx
  yarn.lock
Due: yarn lint:client, yarn lint:server

fix(video): fix aspect ratios on video
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/components/Group/components/Video/Video.styles.ts
Due: yarn lint:client, yarn lint:server

chore: upgrade eslint import plugin and move all eslint to root package
  .huskyrc
  .lintstagedrc.json
  package.json
  packages/client/package.json
  packages/server/.lintstagedrc.json
  packages/server/package.json
  yarn.lock
Due: prettier --write, prettier --write --parser json

chore: cleanup package and scripts
  package.json
  packages/client/package.json
  packages/client/yarn.lock
  packages/server/package.json
  packages/server/yarn.lock
  yarn.lock
Due: prettier --write

Path conditions:
  yarn lint:client: any of: *.{ts,tsx}
  yarn lint:server: any of: *.{ts,tsx}
  prettier --write: any of: *.{html,json,md,yml}
  prettier --write --parser json: any of: *.*rc
