Repository getcorgi/corgi: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspaces run lint, prettier --write, prettier --write --parser json

feat(client): update some styles
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.styles.ts
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/components/Group/components/DraggableSplitWrapper/DraggableSplitWrapper.tsx
Due: yarn workspaces run lint

feat(client): update aspect ratios
  packages/client/src/components/Group/components/BasicView/BasicView.styles.ts
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/components/Group/components/DraggableSplitWrapper/DraggableSplitWrapper.tsx
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/components/MediaSettingsProvider/MediaSettingsProvider.tsx
Due: yarn workspaces run lint

feat(client): add user colors
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/ActivityView/ActivityView.tsx
  packages/client/src/components/Group/components/ActivityView/components/Video/Video.tsx
  packages/client/src/components/Group/components/BasicView/BasicView.stories.tsx
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/components/Group/components/Preview/Preview.styles.ts
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/components/Group/components/Video/Video.styles.ts
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/components/Group/components/VideoView/VideoView.tsx
  packages/client/src/components/Group/lib/useSocketHandler.ts
  packages/client/src/components/MeProvider/MeProvider.tsx
  packages/client/src/lib/hooks/useUser.ts
  packages/client/src/lib/theme.ts
Due: yarn workspaces run lint

feat(client): fix me update
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/components/MeProvider/MeProvider.tsx
  packages/client/src/lib/hooks/useUser.ts
Due: yarn workspaces run lint

feat: change hangup to go back to preview
  packages/client/package.json
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/lib/useSocketHandler.ts
  packages/client/src/components/Group/lib/useSocketHandler/index.ts
  packages/client/src/components/Group/lib/useSocketHandler/lib/onPeerCreated.ts
  packages/client/src/components/Group/lib/useSocketHandler/lib/useSocketEvents.ts
  packages/client/src/components/Group/lib/useSocketHandler/types.ts
  packages/client/src/components/Group/lib/useSocketHandler/useSocketHandler.ts
  packages/client/yarn.lock
  packages/server/src/index.ts
  yarn.lock
Due: yarn workspaces run lint, prettier --write

feat(client): add alert to show missing permissions
  packages/client/src/components/Group/lib/useLocalMediaStream.ts
Due: yarn workspaces run lint

fix(client): closes #37
  packages/client/src/components/Group/lib/useLocalMediaStream.ts
Due: yarn workspaces run lint

feat(client): add permission modal close #29
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/PermissionsAlert/PermissionsAlert.tsx
  packages/client/src/components/Group/components/PermissionsAlert/index.ts
  packages/client/src/components/Group/lib/useLocalMediaStream.ts
Due: yarn workspaces run lint

fix(client): media query
  packages/client/src/components/Group/lib/useLocalMediaStream.ts
Due: yarn workspaces run lint

feat(client): implement basic chat
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/VideoView/VideoView.tsx
  packages/client/src/components/Group/lib/useSocketHandler/lib/useChatMessages.ts
  packages/client/src/components/Group/lib/useSocketHandler/useSocketHandler.ts
  packages/server/src/index.ts
Due: yarn workspaces run lint

feat(client): adds basic chat component
  packages/client/package.json
  packages/client/src/components/Group/components/Chat/Chat.tsx
  packages/client/src/components/Group/components/Chat/index.ts
  packages/client/src/components/Group/components/VideoView/VideoView.tsx
  packages/client/yarn.lock
  yarn.lock
Due: yarn workspaces run lint, prettier --write

feat(client): move chat to sidebar
  packages/client/src/components/Group/components/Chat/Chat.tsx
  packages/client/src/components/Group/components/Sidebar/Sidebar.tsx
  packages/client/src/components/Group/components/Sidebar/index.ts
  packages/client/src/components/Group/components/VideoView/VideoView.tsx
Due: yarn workspaces run lint

feat(client): finish chat closes #9
  packages/client/.storybook/config.js
  packages/client/src/components/Group/components/Chat/Chat.stories.tsx
  packages/client/src/components/Group/components/Chat/Chat.styles.ts
  packages/client/src/components/Group/components/Chat/Chat.tsx
  packages/client/src/components/Group/components/Sidebar/Sidebar.styles.ts
  packages/client/src/components/Group/components/Sidebar/Sidebar.tsx
  packages/client/src/components/Group/components/Video/Video.styles.ts
  packages/client/src/components/Group/components/VideoControls/VideoControls.tsx
  packages/client/src/lib/theme.ts
Due: yarn workspaces run lint

feat(client): update some colors
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.styles.ts
  packages/client/src/components/Group/components/DraggableSplitWrapper/DraggableSplitWrapper.tsx
  packages/client/src/components/Group/components/Sidebar/Sidebar.tsx
Due: yarn workspaces run lint

feat(client): group messages together
  packages/client/src/components/Group/components/Chat/Chat.tsx
Due: yarn workspaces run lint

chore(client): install react-testing-library
  packages/client/package.json
  packages/client/yarn.lock
Due: prettier --write

chore(client): add test for error page
  packages/client/src/components/ErrorPage/ErrorPage.test.tsx
Due: yarn workspaces run lint

chore(server): set up jest
  packages/server/jest.config.js
  packages/server/package.json
  packages/server/tsconfig.json
  packages/server/yarn.lock
Due: prettier --write

refactor(server): extract handleUserIsInPreview
  packages/server/src/index.ts
  packages/server/src/socketEventHandlers.test.ts
  packages/server/src/socketEventHandlers.ts
Due: yarn workspaces run lint

feat(client): move activity tabs to sidebar
  packages/client/src/components/Group/components/Activities/Activities.tsx
  packages/client/src/components/Group/components/Activities/index.ts
  packages/client/src/components/Group/components/ActivityTabs/ActivityTabs.tsx
  packages/client/src/components/Group/components/ActivityTabs/index.ts
  packages/client/src/components/Group/components/Sidebar/Sidebar.tsx
  packages/client/src/components/Group/components/VideoView/VideoView.tsx
Due: yarn workspaces run lint

feat(client): make permission alert more aggresive
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/PermissionsAlert/PermissionsAlert.tsx
  packages/client/src/components/Group/components/Preview/Preview.tsx
  packages/client/src/components/Group/lib/useLocalMediaStream.ts
  packages/client/src/components/Group/lib/useSocketHandler/useSocketHandler.ts
  packages/client/src/components/MediaSettingsProvider/MediaSettingsProvider.tsx
Due: yarn workspaces run lint

chore(root): update top level yarn lock
  yarn.lock
Due: none

fix(package): set up nohoist to resolve CRA issues
  package.json
Due: prettier --write

fix(heroku): fix workspaces issues
  Procfile
  package.json
Due: prettier --write

feat(client chat): fix spacing and message style
  packages/client/src/components/Group/components/Chat/Chat.styles.ts
  packages/client/src/components/Group/components/Sidebar/Sidebar.tsx
Due: yarn workspaces run lint

feat(client chat): add snackbar
  packages/client/src/components/Group/components/ChatSnackbar/ChatSnackbar.styles.ts
  packages/client/src/components/Group/components/ChatSnackbar/ChatSnackbar.tsx
  packages/client/src/components/Group/components/Sidebar/Sidebar.tsx
  packages/client/src/components/Group/components/Video/Video.styles.ts
Due: yarn workspaces run lint

feat(client): add screenshare socket handler
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/components/Group/lib/useScreenShareSocketHandler/index.ts
  packages/client/src/components/Group/lib/useScreenShareSocketHandler/lib/useScreenShareSocketEvents.ts
  packages/client/src/components/Group/lib/useScreenShareSocketHandler/types.ts
  packages/client/src/components/Group/lib/useScreenShareSocketHandler/useScreenShareSocketHandler.ts
  packages/client/src/components/Group/lib/useSocketHandler/useSocketHandler.ts
  packages/server/src/index.ts
Due: yarn workspaces run lint

feat(client): get screenshare working
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/lib/useScreenShare.ts
  packages/client/src/components/Group/lib/useScreenShareSocketHandler/lib/useScreenShareSocketEvents.ts
  packages/client/src/components/Group/lib/useScreenShareSocketHandler/useScreenShareSocketHandler.ts
  packages/client/src/components/Group/lib/useSocketHandler/lib/onPeerCreated.ts
  packages/client/src/components/Group/lib/useSocketHandler/useSocketHandler.ts
Due: yarn workspaces run lint

feat(client): screen share dialog closes
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/lib/useScreenShare.ts
  packages/client/src/components/Group/lib/useScreenShareSocketHandler/useScreenShareSocketHandler.ts
Due: yarn workspaces run lint

feat(client): screenshare works solid
  packages/client/src/components/Group/lib/useScreenShare.ts
  packages/client/src/components/Group/lib/useScreenShareSocketHandler/useScreenShareSocketHandler.ts
Due: yarn workspaces run lint

chore(client): remove logs
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/lib/useScreenShareSocketHandler/useScreenShareSocketHandler.ts
  packages/client/src/components/Group/lib/useSocketHandler/lib/onPeerCreated.ts
  packages/server/src/index.ts
Due: yarn workspaces run lint

feat(client): turn off noise suppression
  packages/client/src/components/Group/lib/useScreenShare.ts
Due: yarn workspaces run lint

feat(client): closes #35 user volume
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/BasicView/BasicView.tsx
  packages/client/src/components/Group/components/BrowseTogetherView/BrowseTogetherView.tsx
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/components/Group/components/Video/components/VideoContextMenu.tsx
  packages/client/src/components/Group/lib/useScreenShare.ts
  packages/client/src/components/Group/lib/useScreenShareSocketHandler/useScreenShareSocketHandler.ts
Due: yarn workspaces run lint

feat(client): update snackbar style
  packages/client/src/components/Group/components/Chat/Chat.tsx
  packages/client/src/components/Group/components/ChatSnackbar/ChatSnackbar.styles.ts
  packages/client/src/components/Group/components/ChatSnackbar/ChatSnackbar.tsx
  packages/client/src/components/Group/components/Sidebar/Sidebar.tsx
  packages/client/src/components/Group/components/Video/components/VideoContextMenu.tsx
Due: yarn workspaces run lint

fix(client): fix issue where screenshare wasnt added to room
  packages/client/src/components/Group/lib/useScreenShareSocketHandler/lib/useScreenShareSocketEvents.ts
  packages/client/src/components/Group/lib/useSocketHandler/lib/useSocketEvents.ts
  packages/client/src/components/Group/lib/useSocketHandler/useSocketHandler.ts
  packages/server/src/index.ts
Due: yarn workspaces run lint

feat(client): linkify chat
  packages/client/package.json
  packages/client/src/components/Group/components/Chat/Chat.styles.ts
  packages/client/src/components/Group/components/Chat/Chat.tsx
  packages/client/src/index.css
  packages/client/yarn.lock
Due: yarn workspaces run lint, prettier --write

chore: rejigger workspaces linting and tests
  .eslintrc.json
  .lintstagedrc.json
  package.json
  packages/client/.eslintrc.json
  packages/client/package.json
  packages/client/src/components/Firebase/Firebase.test.tsx
  packages/client/src/components/Group/components/Chat/Chat.tsx
  packages/client/src/components/Group/components/ChatSnackbar/ChatSnackbar.styles.ts
  packages/client/src/components/Group/components/ChatSnackbar/ChatSnackbar.tsx
  packages/client/src/components/Group/components/Sidebar/Sidebar.tsx
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/components/Group/components/Video/components/VideoContextMenu.tsx
  packages/client/src/components/Group/lib/useScreenShare.ts
  packages/client/src/components/Group/lib/useScreenShareSocketHandler/useScreenShareSocketHandler.ts
  packages/client/src/components/Home/HomeContainer.tsx
  packages/client/src/components/MeProvider/MeProvider.tsx
  packages/client/src/components/MediaSettingsProvider/MediaSettingsProvider.tsx
  packages/client/src/constants.ts
  packages/client/yarn.lock
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/server/.eslintrc.json
  packages/server/package.json
  yarn.lock
Due: yarn workspaces run lint, prettier --write

test: set up mocks and change renderer
  packages/client/src/Storyshots.test.ts
  packages/client/src/__snapshots__/Storyshots.test.ts.snap
  packages/client/src/setupTests.js
  packages/server/package.json
Due: yarn workspaces run lint, prettier --write

fix(package): ensure path is relative for heroku
  package.json
Due: prettier --write

fix(heroku): run top level yarn to ensure symlinks
  Procfile
Due: none

Path conditions:
  yarn workspaces run lint: any of: *.{ts,tsx}
  prettier --write: any of: *.{html,json,md,yml}
  prettier --write --parser json: any of: *.*rc
