Repository getcorgi/corgi: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace client lint --fix, yarn workspace server lint --fix, prettier --write, prettier --write --parser json

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "yarn workspace client lint --fix",
    "yarn workspace server lint --fix",
    "git add"
  ],
  "*.{html,json,md,yml}": ["prettier --write", "git add"],
  "*.*rc": ["prettier --write --parser json", "git add"]
}

feat(client): add activity context menu
  packages/client/src/components/Group/components/Activities/ActivityContextMenu/ActivityContextMenu.tsx
  packages/client/src/components/Group/components/Activities/SharedIframe/components/SourceSelect/SourceSelect.tsx
  packages/client/src/components/Group/components/BasicView/components/PinnedVideoLayout/PinnedVideoLayout.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): add activity chooser
  packages/client/package.json
  packages/client/src/components/Group/components/Activities/ActivityChooserModal/ActivityChooserModal.styles.ts
  packages/client/src/components/Group/components/Activities/ActivityChooserModal/ActivityChooserModal.tsx
  packages/client/src/components/Group/components/Activities/ActivityChooserModal/index.ts
  packages/client/src/components/Group/components/Activities/SharedIframe/components/SourceSelect/SourceSelect.styles.tsx
  packages/client/src/components/Group/components/Activities/SharedIframe/components/SourceSelect/SourceSelect.tsx
  packages/client/src/components/Group/components/Activities/activities/ActivityIframe/ActivityIframe.tsx
  packages/client/src/components/Group/components/Activities/activities/ActivityIframe/index.ts
  packages/client/src/components/Group/components/Activities/activities/IframeToolbar/IframeToolbar.stories.tsx
  packages/client/src/components/Group/components/Activities/activities/IframeToolbar/IframeToolbar.styles.tsx
  packages/client/src/components/Group/components/Activities/activities/IframeToolbar/IframeToolbar.tsx
  packages/client/src/components/Group/components/Activities/activities/IframeToolbar/ReadOnlyIframeToolbar.tsx
  packages/client/src/components/Group/components/Activities/activities/SharedIframe/SharedIframe.tsx
  packages/client/src/components/Group/components/Activities/activities/SharedIframe/index.ts
  packages/client/src/components/Group/components/Activities/lib/activityData.ts
  packages/client/src/components/Group/components/Activities/lib/mapActivityIdToComponent.tsx
  packages/client/src/components/Group/components/Activities/lib/useActivities.ts
  packages/client/src/components/Group/components/BasicView/components/PinnedVideoLayout/PinnedVideoLayout.tsx
  packages/client/src/components/Group/components/BasicView/components/TiledVideoLayout/TiledVideoLayout.tsx
  packages/client/src/components/Group/components/Sidebar/Sidebar.tsx
  yarn.lock
Due: yarn workspace client lint --fix, yarn workspace server lint --fix, prettier --write

feat(Excalidraw): persist sessions
  packages/client/src/components/Group/components/Activities/activities/ActivityIframe/ActivityIframe.tsx
  packages/client/src/components/Group/components/Activities/activities/Excalidraw/Excalidraw.tsx
  packages/client/src/components/Group/components/Activities/activities/Excalidraw/index.ts
  packages/client/src/components/Group/components/Activities/activities/SharedIframe/SharedIframe.tsx
  packages/client/src/components/Group/components/Activities/lib/activityData.ts
  packages/client/src/components/Group/components/Activities/lib/mapActivityIdToComponent.tsx
  packages/client/src/components/Home/HomeContainer.tsx
  packages/client/src/components/Home/lib/useUpdateGroups.ts
  packages/client/src/lib/hooks/useGroup.ts
  packages/client/src/lib/hooks/useGroups.test.ts
  packages/client/src/lib/hooks/useGroups.ts
  packages/client/src/lib/hooks/useUpdateGroup.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(Twitch) add twitch activity
  packages/client/src/components/Group/components/Activities/activities/Excalidraw/Excalidraw.tsx
  packages/client/src/components/Group/components/Activities/activities/IframeToolbar/IframeToolbar.stories.tsx
  packages/client/src/components/Group/components/Activities/activities/IframeToolbar/IframeToolbar.styles.tsx
  packages/client/src/components/Group/components/Activities/activities/IframeToolbar/IframeToolbar.tsx
  packages/client/src/components/Group/components/Activities/activities/Twitch/Twitch.tsx
  packages/client/src/components/Group/components/Activities/activities/Twitch/index.ts
  packages/client/src/components/Group/components/Activities/lib/mapActivityIdToComponent.tsx
  packages/client/src/components/Group/components/BasicView/components/PinnedVideoLayout/PinnedVideoLayout.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

refactor(useGroup): add to recoil state
  packages/client/src/components/Group/components/Activities/ActivityContextMenu/ActivityContextMenu.tsx
  packages/client/src/components/Group/components/Activities/activities/Excalidraw/Excalidraw.tsx
  packages/client/src/components/Group/components/Activities/activities/IframeToolbar/IframeToolbar.tsx
  packages/client/src/components/Group/components/Activities/activities/IframeToolbar/ReadOnlyIframeToolbar.tsx
  packages/client/src/components/Group/components/Activities/activities/SharedIframe/SharedIframe.tsx
  packages/client/src/components/Group/components/Activities/activities/Twitch/Twitch.tsx
  packages/client/src/components/Group/components/Activities/lib/useActivities.ts
  packages/client/src/components/Group/lib/useIsAdmin/useIsAdmin.ts
  packages/client/src/lib/hooks/useGroup.ts
  packages/client/src/lib/hooks/useUpdateGroup.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(ActivityChooser): add some text and feedback link
  packages/client/src/components/Group/components/Activities/ActivityChooserModal/ActivityChooserModal.styles.ts
  packages/client/src/components/Group/components/Activities/ActivityChooserModal/ActivityChooserModal.tsx
  packages/client/src/components/Group/components/BasicView/components/PinnedVideoLayout/PinnedVideoLayout.tsx
  packages/client/src/components/Group/components/BasicView/components/TiledVideoLayout/TiledVideoLayout.tsx
  packages/client/src/components/Group/components/Sidebar/Sidebar.tsx
  packages/client/src/components/Group/components/Sidebar/components/OverflowMenu/OverflowMenu.tsx
  packages/client/src/components/Group/lib/useSocketHandler/lib/useSocketEvents.ts
  packages/client/src/constants.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(Youtube): add player, clean up forwarded props
  packages/client/package.json
  packages/client/src/App.tsx
  packages/client/src/components/Group/components/Activities/ActivityChooserModal/ActivityChooserModal.tsx
  packages/client/src/components/Group/components/Activities/activities/Youtube/Youtube.tsx
  packages/client/src/components/Group/components/Activities/activities/Youtube/index.ts
  packages/client/src/components/Group/components/Activities/lib/activityData.ts
  packages/client/src/components/Group/components/Activities/lib/mapActivityIdToComponent.tsx
  packages/client/src/components/Group/components/Activities/lib/useActivities.ts
  packages/client/src/components/Group/components/BasicView/components/TiledVideoLayout/TiledVideoLayout.styles.tsx
  packages/client/src/components/Group/components/Sidebar/Sidebar.styles.ts
  packages/client/src/components/Group/components/VideoView/VideoView.styles.ts
  packages/client/src/components/Group/lib/SocketContext.tsx
  packages/client/src/components/Group/lib/useSocketHandler/useSocketHandler.ts
  packages/client/src/lib/hooks/useGroup.ts
  packages/client/src/lib/hooks/useUpdateGroup.ts
  yarn.lock
Due: yarn workspace client lint --fix, yarn workspace server lint --fix, prettier --write

feat(youtube): add basic sync
  packages/client/src/components/Group/components/Activities/activities/Youtube/Youtube.tsx
  packages/server/src/index.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(useGroup): fix group not getting set
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/lib/useIsAdmin/useIsAdmin.ts
  packages/client/src/lib/hooks/useGroup.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

fix(SharedIframe): fix rendering issue
  packages/client/src/components/Group/components/Activities/activities/SharedIframe/SharedIframe.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

fix(SharedIframe): fix input
  packages/client/src/components/Group/components/Activities/activities/SharedIframe/SharedIframe.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(Youtube): get sync working ok
  packages/client/src/components/Group/components/Activities/activities/Youtube/Youtube.tsx
  packages/server/src/index.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

fix(youtube): up sync time
  packages/client/src/components/Group/components/Activities/activities/Youtube/Youtube.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(activities): add hover state for button in the chooser modal
  packages/client/src/components/Group/components/Activities/ActivityChooserModal/ActivityChooserModal.styles.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

fix(Youtube): fix issue where video stutters after admin changes size
  packages/client/src/components/Group/components/Activities/activities/Youtube/Youtube.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(Draw): add draw activity
  packages/client/package.json
  packages/client/src/components/Group/components/Activities/activities/Draw/Draw.tsx
  packages/client/src/components/Group/components/Activities/activities/Draw/index.ts
  packages/client/src/components/Group/components/Activities/lib/activityData.ts
  packages/client/src/components/Group/components/Activities/lib/mapActivityIdToComponent.tsx
  packages/client/src/components/Group/components/Activities/lib/useActivities.ts
  packages/client/src/lib/hooks/useGroup.ts
  packages/client/src/lib/hooks/useUpdateGroup.ts
  packages/server/src/index.ts
  yarn.lock
Due: yarn workspace client lint --fix, yarn workspace server lint --fix, prettier --write

feat(Draw): implement multi user line fading
  packages/client/src/components/Group/components/Activities/activities/Draw/Draw.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(Video): add draw to screen share
  packages/client/public/pencil-cursor.png
  packages/client/src/components/Group/components/Activities/activities/Draw/Draw.styles.ts
  packages/client/src/components/Group/components/Activities/activities/Draw/Draw.tsx
  packages/client/src/components/Group/components/Activities/lib/activityData.ts
  packages/client/src/components/Group/components/Activities/lib/mapActivityIdToComponent.tsx
  packages/client/src/components/Group/components/Activities/lib/useActivities.ts
  packages/client/src/components/Group/components/Video/Video.styles.ts
  packages/client/src/components/Group/components/Video/Video.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

fix(client): fix dominion url
  packages/client/src/components/Group/components/Activities/lib/mapActivityIdToComponent.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

fix(safari): use correct key for audio context in safari
  packages/client/src/components/Group/components/AudioVisualizer/AudioVisualizer.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

chore(readme): update it
  README.md
  package.json
Due: prettier --write

fix(chat): do not update unread count if chat is open
  packages/client/src/components/Group/components/Sidebar/Sidebar.styles.ts
  packages/client/src/components/Group/components/Sidebar/Sidebar.tsx
  packages/client/src/components/Group/lib/useSocketHandler/lib/useChatMessages.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

fix(client): adjust draw logic to handle unpinned window
  packages/client/src/components/Group/components/Activities/activities/Draw/Draw.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(giphy): add giphy package
  package.json
  yarn.lock
Due: prettier --write

feat(giphy): add giphy api key
  README.md
  packages/client/.env.test
  packages/client/src/lib/constants.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix, prettier --write

feat(giphySearch): create giphy search component
  packages/client/src/components/Group/components/Chat/components/GiphySearch/GiphySearch.styles.ts
  packages/client/src/components/Group/components/Chat/components/GiphySearch/GiphySearch.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(giphyPicker): add giphy search to chat component
  packages/client/src/components/Group/components/Chat/Chat.styles.ts
  packages/client/src/components/Group/components/Chat/Chat.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

fix(emojipicker): wrap emoji picker in memo
  packages/client/src/components/Group/components/Chat/components/EmojiPicker/EmojiPicker.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

fix(giphy): clean up of unneccesary code
  packages/client/src/components/Group/components/Chat/Chat.tsx
  packages/client/src/components/Group/components/Chat/components/GiphySearch/GiphySearch.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

fix(client): fix giphy memo, and update styles
  packages/client/src/components/Group/components/Chat/Chat.tsx
  packages/client/src/components/Group/components/Chat/components/GiphySearch/GiphySearch.styles.ts
  packages/client/src/components/Group/components/Chat/components/GiphySearch/GiphySearch.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat(client): add hover color to sidepanel resizer
  packages/client/src/components/Group/components/DraggableSplitWrapper/DraggableSplitWrapper.styles.ts
  packages/client/src/components/Group/components/DraggableSplitWrapper/DraggableSplitWrapper.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

feat: wip activities
  packages/client/package.json
  packages/client/src/App.tsx
  packages/client/src/components/Group/GroupContainer.tsx
  packages/client/src/components/Group/components/Activities/activities/HeadsUp/HeadsUp.tsx
  packages/client/src/components/Group/components/Activities/activities/HeadsUp/index.ts
  packages/client/src/components/Group/components/Activities/lib/activityData.ts
  packages/client/src/components/Group/components/Activities/lib/mapActivityIdToComponent.tsx
  packages/client/src/components/Group/components/Activities/lib/useActivities.ts
  packages/client/src/components/Group/components/FullActivityView/FullActivityView.styles.ts
  packages/client/src/components/Group/components/FullActivityView/FullActivityView.tsx
  packages/client/src/components/Group/components/FullActivityView/components/GameBar/GameBar.styles.ts
  packages/client/src/components/Group/components/FullActivityView/components/GameBar/GameBar.tsx
  packages/client/src/components/Group/components/FullActivityView/components/GameBar/index.ts
  packages/client/src/components/Group/components/FullActivityView/index.ts
  packages/client/src/components/Group/components/VideoView/VideoView.tsx
  yarn.lock
Due: yarn workspace client lint --fix, yarn workspace server lint --fix, prettier --write

chore: upgrade react-scripts
  packages/client/package.json
  packages/client/tsconfig.json
  packages/eslint-config-corgi/index.js
  packages/eslint-config-corgi/package.json
  yarn.lock
Due: prettier --write

test(firebase): fix mock in tests
  packages/client/src/components/Firebase/Firebase.test.tsx
  packages/client/src/components/Firebase/Firebase.tsx
  packages/client/src/components/Group/components/Activities/activities/Youtube/Youtube.tsx
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

chore(types): fix all warnings and update types
  package.json
  packages/client/package.json
  packages/client/src/App.tsx
  packages/client/src/components/ErrorPage/ErrorPage.stories.tsx
  packages/client/src/components/Firebase/Firebase.test.tsx
  packages/client/src/components/Firebase/Firebase.tsx
  packages/client/src/components/Group/components/Activities/activities/IframeToolbar/IframeToolbar.stories.tsx
  packages/client/src/components/Group/components/Activities/activities/Youtube/Youtube.tsx
  packages/client/src/components/Group/components/ActivityView/ActivityView.tsx
  packages/client/src/components/Group/components/ActivityView/lib/parseComponentTree.ts
  packages/client/src/components/Group/components/AudioVisualizer/AudioVisualizer.tsx
  packages/client/src/components/Group/components/BasicView/BasicView.stories.tsx
  packages/client/src/components/Group/components/Chat/Chat.stories.tsx
  packages/client/src/components/Group/components/DraggableSplitWrapper/DraggableSplitWrapper.stories.tsx
  packages/client/src/components/Group/components/DraggableSplitWrapper/DraggableSplitWrapper.tsx
  packages/client/src/components/Group/components/Video/Video.tsx
  packages/client/src/components/Group/components/VideoContextMenu/VideoContextMenu.tsx
  packages/client/src/components/Group/lib/useScreenShare.ts
  packages/client/src/components/Group/lib/useScreenShareSocketHandler/lib/useScreenShareSocketEvents.ts
  packages/client/src/components/Group/lib/useSocketHandler/lib/useSocketEvents.ts
  packages/client/src/components/Home/lib/useUpdateGroups.ts
  packages/client/src/declarations.d.ts
  packages/client/src/lib/constants.ts
  packages/client/src/lib/hooks/useActivity.ts
  packages/client/src/lib/hooks/useUpdateGroup.ts
  packages/client/src/lib/test/renderWithRouter.tsx
  packages/client/src/lib/theme.ts
  packages/client/src/lib/types.ts
  packages/client/src/setupTests.js
  packages/eslint-config-corgi/index.js
  packages/eslint-config-corgi/package.json
  packages/server/package.json
  packages/server/src/index.ts
  packages/server/src/socketEventHandlers.ts
  packages/server/src/types.ts
  yarn.lock
Due: yarn workspace client lint --fix, yarn workspace server lint --fix, prettier --write

fix(client): fix giphy search height
  packages/client/src/App.tsx
  packages/client/src/components/ErrorPage/ErrorPage.stories.tsx
  packages/client/src/components/ErrorPage/ErrorPage.test.tsx
  packages/client/src/components/ErrorPage/ErrorPage.tsx
  packages/client/src/components/ErrorPage/index.ts
  packages/client/src/components/Group/components/Chat/components/GiphySearch/GiphySearch.styles.ts
Due: yarn workspace client lint --fix, yarn workspace server lint --fix

fix(client): upgrade simple-peer to fix rtc connection issues
  packages/client/package.json
  yarn.lock
Due: prettier --write
